<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameWorkTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FrameWorkTests.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </FrameWorkTests.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="URL" value="http://journals.lww.com/pages/default.aspx"/>
    <add key="Username" value="TestUser86"/>
    <add key="Password" value="12345678"/>
  </appSettings>
</configuration>